.about {
    text-align: center;
    .about-content {
        padding-top: 40px;
        .main-content {
            padding: 20px 0 40px;
            .left-side {
                padding: 0 20%;
                text-align: center;
                height: 100%;
                h2 {
                    text-transform: initial;
                }
            }
            .right-side {
                text-align: justify;
                margin: -10px 0;
                span {
                    padding: 10px 0;
                }
            }
        }
        .about-content-infos {
            .about-content-infos-item {
                background: $white;
                border-radius: 10px;
                margin: 30px 0 80px 0;
                .about-content-infos-text {
                    padding: 10px 20px;
                    height: 100%;
                    span {
                        text-align: justify;
                    }
                }
                .about-content-infos-image {
                    position: relative;
                    border-radius: 10px;
                    height: 100%;
                    &.left {
                        img {
                            border-radius: 10px 0 0 10px;
                        }
                    }
                    img {
                        border-radius: 0 10px 10px 0;
                        // max-width: 400px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .about {
        .about-content {
            padding: 40px 20px 0;
            .main-content {
                .left-side {
                    padding: 0 20% 30px;
                    text-align: center;
                    height: 100%;
                    h2 {
                        text-transform: initial;
                    }
                }
                .right-side {
                    text-align: justify;
                    margin: -10px 0;
                    span {
                        padding: 10px 0;
                    }
                }
            }
            .about-content-infos {
                .about-content-infos-item {
                    margin: 30px 0 40px 0;
                    .about-content-infos-text {
                        span {
                            margin-top: 15px;
                        }
                    }
                    .about-content-infos-image {
                        border-radius: 10px;
                        &.left {
                            img {
                                border-radius: 0 0 10px 10px;
                            }
                        }
                        img {
                            border-radius: 0 0 10px 10px;
                            // max-width: 400px;
                        }
                    }
                }
            }
        }
    }
}