.field-button {
	@include flexbox;
    @include align-items(center);
    @include justify-content(center);

	button {
		background: $sec05 !important;
		border: 1px solid $base-color;
		color: $base-color;
		border-radius: 5px;
		padding: 5px 15px;
		@include transition();
		&:hover,
		&:disabled {
			background: $base-color !important;
			border: 1px solid $base-color;
			color: $white;
		}
	}
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}
